@font-face {
    font-family: "Qucicksand";
    src: url("fonts/QUICKSAND.TTF");
}

@font-face {
    font-family: "Honey Script";
    src: url("fonts/HONEYSCRIPT-LIGHT.TTF");
}

* {
    font-family: "Qucicksand";
}

.logo {
    height: 100px;
    background-image: url("resources/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.title1 {
    font-family: "Honey Script";
    font-size: 40px;
    letter-spacing: 3px;
}

.title2 {
    font-size: 25px;
    font-weight: bold
}

.background {
    background-image: url("resources/background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main-background {
    background-image: url("resources/background-body.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.label1 {
    font-size: 16px;
}

.label2 {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.carticon {
    height: 30px;
    background-image: url("resources/cartico.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hrbreak1 {
    border-style: solid;
    border-color: silver;
    border-width: 3px;
}

.logoimg {
    height: 80px;
    background-image: url("resources/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.searchbtn {
    height: 50px;
}

.link1 {
    text-decoration: none;
    font-weight: bold;
}

.posterimg1 {
    height: 560px;
    background-repeat: no-repeat;
    background-size: contain;
}

.postercaption {
    margin-bottom: 220px;
}

.postertitle {
    font-size: 55px;
    color: gray;
}

.postertxt {
    font-size: 30px;
    color: gray;
}

.postercaption1 {
    margin-bottom: 50px;
    margin-right: 250px;
}

.link2 {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.link2:hover {
    text-decoration: underline;
}

.link3 {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.link3:hover {
    text-decoration: underline;
}

.cardTopimg {
    height: 28vh;
}

.lbl1 {
    font-size: 24px;
    font-weight: bold;
}

.pm1 {
    height: 75px;
    background-image: url("resources/payment_method_images/paypal_img.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.pm2 {
    height: 75px;
    background-image: url("resources/payment_method_images/visa_img.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.pm3 {
    height: 75px;
    background-image: url("resources/payment_method_images/mastercard_img.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.pm4 {
    height: 75px;
    background-image: url("resources/payment_method_images/american_express_img.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.productimg {
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 2px;
    border-radius: 8px;
    border-color: blue;
    border-style: solid;
}


/* ///////////////////////////////////////////////////// */

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}


/* //////////////////////////////////////////////////////////////////// */

.searchbtn1 {
    width: 100%;
}


/* ///////////////////////single product////////////////////// */

.singleproduct {
    padding-top: 65px;
    padding-bottom: 145px;
    background-color: #e5e5e5;
    padding: 20px;
}

.product_qty {
    width: 105px;
    height: 50px;
    padding-left: 8px;
    padding-bottom: 15px;
    margin-right: 22px;
    margin-bottom: 11px;
}

.qty-buttons {
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    border: solid 1px #e5e5e5;
}

.qty-inc,
.qty-dec {
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.qty-inc {
    padding-bottom: 2px;
    justify-content: flex-end;
    border-top-right-radius: 5px;
}

.qty-dec {
    padding-bottom: 2px;
    justify-content: flex-end;
    border-bottom-right-radius: 5px;
}


/* /////////////////////////emptyview/////////////////////////// */

.emptyview {
    height: 400px;
    background-image: url("resources/watchlistEmptyView.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/* emptycart */

.emptycart {
    height: 400px;
    background-image: url("resources/emptycart.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/* cartqtytxt */

.cartqtytxt {
    width: 100px;
    height: 40px;
    outline: none;
}


/* invoiceheaderimg */

.invoiceheaderimg {
    height: 80px;
    background-image: url("resources/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


/* message-box */

.message-box,
.chatbox {
    height: 510px;
    overflow-y: scroll;
}

.firstplace {
    height: 90px;
    background-image: url("resources/firstplace.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/* addnewimg */

.addnewimg {
    height: 50px;
    background-image: url("resources/addnew.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 50%;
}